{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Liste des postes</h1>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <div>{{ post.content }}</div>
        <div>{{ post.createdAt|date("d/m/Y") }}</div>
        <div>{{ post.status }}</div>
    {% endfor %}
{% endblock %}
