{% extends 'base.html.twig' %}

{% block title %}StackOverflow{% endblock %}

{% block body %}
    
    
    
  
    
    <div class="card bg-secondary mb-3" style="max-width: 20rem;margin:auto;margin-top:5%;display:flex">
  <div class="card-header">   <h2>{{ post.title }}</h2></div>
  <div class="card-body">
    <h4 class="card-title"> <div>{{ post.content }}</div></h4>
    <p class="card-text"><div>{{ post.status }}</div></p>
     <div>{{ post.createdAt|date("d/m/Y") }}</div>
  </div>
</div>
    
 
{% endblock %}